<html>
    <head>{{ assets()|safe }}</head>
    <body>
        <div class="{% if container_class %}{{ container_class }}{% else %}container-fluid{% endif %}">
            <div class=row>
                <div class=col-md-12>
                    {% block page_header %}{% endblock %}
                        {% set msgs = get_flashed_messages(with_categories=true) %}
                        {% if msgs %}
                            {% for cat , msg in msgs %}
                                <div class="alert alert-{{ cat }}">
                                    {{ msg }}
                                </div>
                            {% endfor %}
                        {% endif %}
                </div>
            </div>
            <div class=row>
                <div class="col-md-8 col-md-offset-2">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
