<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{ assets()|safe }}
        <script src="//cdn.jsdelivr.net/angular.pusher/latest/pusher-angular.min.js"></script>
        <script src="{{ url_for('static',filename='js/app.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-touch.js"></script>    
        <script src="{{ url_for('static',filename='js/app/projects.js') }}"></script>
        <script src="{{ url_for('static',filename='js/app/tasks.js') }}"></script>
        <script src="{{ url_for('static',filename='js/app/routes.js') }}"></script>
        <script src="{{ url_for('static',filename='js/app/projects/edit.js') }}"></script>
        <script src="{{ url_for('static',filename='js/app/projects/add.js') }}"></script>
        <script src="{{ url_for('static',filename='js/app/projects/delete.js') }}"></script>
        <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
        <script src="{{ url_for('static',filename='js/app/socket.js') }}"></script>
        <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>-->
        <!--<script src="http://174.140.227.137:3000/socket.io/socket.io.js"></script>-->
        <script src="{{ url_for('static',filename='js/app/projects/list.js') }}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <base href='/' />
    </head>
    <body ng-app="app" ng-controller="MainCtrl">
        <div class="{% if container_class %}{{ container_class }}{% else %}container-fluid{% endif %}">
            <div class=row>
                <div class=col-md-12>
                    {% block page_header %}
                    {% endblock %}
                    {% set msgs = get_flashed_messages(with_categories=true) %}
                    {% if msgs %}
                        {% for cat , msg in msgs %}
                            <div 
                                closing-alert 
                                alert-cls="{{ cat }}" 
                                alert-msg="{{ msg }}"
                            > 
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class=row>
                <div class="col-md-2 well">
                    {% block left_side_bar %}
                    {% endblock %}
                </div>
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-md-2 well">
                    {% block right_side_bar %}
                    {% endblock %}
                </div>
            </div>
        </div>   
        {% raw %}
        <script type="text/ng-template" id="ModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">{{ title }}</h3>
            </div>
            <div class="modal-body">
                {{ content }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="$close()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancel</button>
            </div>
        </script>
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">{{ title }}</h3>
            </div>
            <div class="modal-body">
                {{ content }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>
        <script type="text/ng-template" id="myFormModal.html">
            <div class="modal-header">
                <h3 class="modal-title">{{ title }}</h3>
            </div>
            <div class="modal-body">
                <bs-panel title="Quick Task Add" type=default use-body=0>
                    <form class=form>
                        <fieldset>
                            <div class="col-xs-12 form-group">
                                <label>Add To </label>
                                <input class="form-control" ng-model=ctrl.project readonly/>
                             </div>
                             <div class="col-xs-12 form-group">
                               <label>Task Name</label>
                                <input type=text name=task ng-model=ctrl.task.name class=form-control />
                            </div>
                            

                            <div class="col-xs-12 col-md-5 form-group">
                                <div class=row>
                                    <div class="col-md-12">
                                        <label>Priority</label>
                                    </div>
                                </div>
                                <label class="radio-inline">
                                      <input type="radio" name="priority" id="priority1" value="1" ng-model=ctrl.task.priority /> 1
                                </label>
                                <label class="radio-inline">
                                      <input type="radio" name="priority" id="priority2" value="2" ng-model=ctrl.task.priority /> 2
                                </label>
                                <label class="radio-inline">
                                      <input type="radio" name="priority" id="priority3" value="3" ng-model=ctrl.task.priority /> 3
                                </label>
                                <label class="radio-inline">
                                      <input type="radio" name="priority" id="priority4" value="4" ng-model=ctrl.task.priority /> 4
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="priority" id="priority5" value="5" ng-model=ctrl.task.priority /> 5
                                </label>
                            </div>
                            <div class="col-xs-12 col-md-7 form-group">
                                <label>Due Date</label>
                                <input type=date name=due ng-model=ctrl.task.due_date class=form-control />
                            </div>
                        </fieldset>
                    </form>
                </bs-panel>            
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="$close(ctrl.task)">Save</button>
                <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancel</button>
            </div>
        </script>
        {% endraw %}
        <script>
        </script>
    </body>
</html>
