<html>
    <head>
        {{ assets()|safe }}
        <script src="{{ url_for('static',filename='js/app.js') }}"></script>
        <script src="{{ url_for('static',filename='js/app/projects.js') }}"></script>
        <script src="{{ url_for('static',filename='js/app/tasks.js') }}"></script>
        <script src="{{ url_for('static',filename='js/app/routes.js') }}"></script>
        <script src="{{ url_for('static',filename='js/app/projects/edit.js') }}"></script>
        <script src="{{ url_for('static',filename='js/app/projects/add.js') }}"></script>
        <script src="{{ url_for('static',filename='js/app/projects/delete.js') }}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <base href='/' />
    </head>
    <body ng-app="app">
        <div class="{% if container_class %}{{ container_class }}{% else %}container-fluid{% endif %}">
            <div class=row>
                <div class=col-md-12>
                    {% block page_header %}
                    {% endblock %}
                    {% set msgs = get_flashed_messages(with_categories=true) %}
                    {% if msgs %}
                        {% for cat , msg in msgs %}
                            <div 
                                closing-alert 
                                alert-cls="{{ cat }}" 
                                alert-msg="{{ msg }}"
                            > 
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class=row>
                <div class="col-md-2">
                    {% block left_side_bar %}
                    {% endblock %}
                </div>
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-md-2 well">
                    {% block right_side_bar %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
