{% extends base or 'base.html' %}
{% macro render_field(field) %}
    <div class=form-group>
        {% if field.label.text %}
            <label>{{ field.label.text }}</label>
        {% endif %}
        {{ field(class_='form-control') }}                    
        {% if field.description %}
            <p class="help-block">{{ field.description }}</p>
        {% endif %}
    </div>
{% endmacro %}
{% macro render_checkbox(field) %}
    <div class="checkbox">
        <label>
            {{ field() }}
            {{ field.label.text }}
        </label>
    </div>
{% endmacro %}
{% macro submit_button(txt,size=false,color=false,link=false,use_input=false) %}
    <{% if use_input %}input{% elif link %}a{% else %}button{% endif %} class="btn {% if size %}btn-{{ size }} {% endif %}btn-{{ color|default('primary') }}" {% if use_input %}value="{{ txt }}" />{% elif link %} href="{{ link }}">{{txt}}</a>{% else %}>{{ txt }}</button>{% endif %}
{% endmacro %}

{% block page_header %}
    <h3 class=page-heading>add a new task</h3>
    {{ super() }}
{% endblock %}

{% block content %}
    {% if form %}
        <div class=row>
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                <form class="panel-body form" method=post action=''>
                    <fieldset>
                        <legend>Task Info</legend>
                        <div class=row>
                            <div class=col-md-12>
                                {{ render_field(form.name) }}                            
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Optional data</legend>
                        <div class=row>
                            <div class=col-md-6>
                                {{ render_field(form.due_date) }}
                            </div>
                            <div class=col-md-6>
                                {{ render_field(form.priority) }}
                            </div>
                        </div>
                    </fieldset>
                    <div class=col-md-12>
                        {{ render_checkbox(form.add_another_task) }}
                    </div>
                    <div class=col-md-12>
                        {{ submit_button('submit','lg','success') }}
                    </div>
                    {{ form.project_id() }}
                </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
