{{ "'Hi there From Angular'" }}

<div ng-if="ctrl.projects">
    <h3>Projects</h3>
    <select 
        class="form-control"
        ng-options="projects.indexOf(project) as project.name for project in projects track by project.id" 
        ng-model="current">
    </select>
    <div class=row ng-if="current">
                <div class=col-md-12>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="text-center panel-title">{{ projects[current].name }}</h3>
                        </div>                        
                        <div class="bg-warning panel-body">
                            <p class="text-center" >Tasks: <span class="label label-primary">{{ projects[current].tasks.length || 0 }}</span></p>
                            <div class=row>
                                <div class=col-xs-4>
                                    <a class="btn btn-danger btn-block" ng-href="/app/edit/project/{{ current }}">Edit</a>
                                </div>
                                <div class=col-xs-4>
                                    <a class="btn btn-info btn-block" ng-href="/app/list/{{ projects[current].id }}">list</a>
                                </div>
                                <div class=col-xs-4>
                                    <a class="btn btn-primary btn-block" ng-href="/app/project/{{ current }}">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
