<div class="row well">
    <div class=col-md-12>
            <div class=row>
                <div class="col-lg-12 col-md-12">
                    <a href="/app/add/task" class="btn btn-block btn-primary">Add Task</a>
                </div>
            </div>
            <hr/>
            <div class=row>
                <div class="col-lg-12 col-md-12">
                    <a href="/app/add/project" class="btn btn-block btn-primary">Add Project</a>
                </div>
            </div>
    </div>
</div>
