<div class="row">
    <div class=col-xs-12>
            <div class=row>
                <div class="col-xs-12 col-md-12">
                    <a href="/app/add/task" class="btn btn-block btn-primary">Add Task</a>
                </div>
            </div>
            <hr/>
            <div class=row>
                <div class="col-xs-12 col-md-12">
                    <a href="/app/add/project" class="btn btn-block btn-primary">Add Project</a>
                </div>
            </div>
    </div>
</div>
<div class=row>
    <div class=col-xs-12>
        Show only:
    </div>
    <div class="btn-group-vertical col-xs-12">
        <button 
                ng-click="setPriority(p)" 
                ng-repeat="p in ['1','2','3','4','5']"  
                ng-class="priorityClass(p)" 
                class="btn btn-default btn-block"
        >{{p}}</button>
    </div>
</div>
