<div class=row>
    <div class="col-xs-12 col-md-4"></div>
    <div class="col-xs-12 col-md-4 hidden-xs hidden-sm">
        <button ng-click=ctrl.quickAdd() class="btn btn-default btn-block">Quick Add</button>
    </div>
    <div class="col-xs-12 col-md-4 hidden-md hidden-lg">
        <a ng-href="/app/add/task/mobile/{{ ctrl.project.id }}" class="btn btn-default btn-block">Quick Add</a>
    </div>
    <div class="col-xs-12 col-md-4"></div>
    <div class="col-xs-12">
        <div 
            class=row 
            ng-repeat="
                    task in listTasks | 
                    orderBy : 
                    'priority'
            " 
            ng-if="
                    ctrl.deletedTasks.indexOf(task.id) == -1
                        &&
                    (
                        !needsFilter() || 
                        prioritys(task.priority)
                    )
            ">
            <div class=col-xs-12>
                <hr />
            </div>
            <div class="col-xs-2 col-md-1" ng-click="ctrl.completeTask(task)">
                <span ng-if="!task.complete" class="fa fa-square-o fa-3x">
                </span>
                <span ng-if="task.complete" class="fa fa-check-square-o fa-3x">                                
                </span>
            </div>
            <div 
                class="col-xs-7 col-md-8" 
                ng-dblclick="ctrl.editing[task.id]=!ctrl.editing[task.id]"
                ng-swipe-left="ctrl.editing[task.id]=!ctrl.editing[task.id]"
                ng-swipe-right="ctrl.editing[task.id]=!ctrl.editing[task.id]"
        >
            <h5 ng-if="!task.complete" ng-hide="ctrl.editing[task.id]">{{ task.name }}</h3>
                <h5 ng-if="task.complete" ng-hide="ctrl.editing[task.id]"><s>{{ task.name }}</s></h3>
                <input type=text class="form-control input-lg" ng-model="task.name" ng-change="ctrl.setNeedSave(task)" ng-show="ctrl.editing[task.id]"/>
            </div>
            <div class="col-xs-2 col-md-2">
                <p ng-if="ctrl.saved[task.id]" class="text-success">Saved</p>
                <span class="label label-{{ ctrl.getCtxColor(task.priority) }}">{{ task.priority }}</span>
            </div>
            <div class="col-xs-1 col-md-1">
                <span ng-if="task.complete" ng-click="ctrl.deleteTask(task)" class="text-danger close" ng-click="ctrl.deleteTask(task)">&times;</h1>
            </div>
            <div class="col-xs-1 col-md-1">
                <h1 ng-if="ctrl.changedItems.indexOf(task)>-1" class="text-danger">*</h1>
            </div>
            <div class=col-xs-12>
                <hr />
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
    </div>
    <div class="col-md-4 col-xs-12">
        <button class="btn btn-primary btn-block" ng-show="ctrl.needSave&&ctrl.changedItems.length" ng-click="ctrl.save()">Save</button>
    </div>
    <div class="col-md-4 col-xs-12">
    </div>
</div>
